.hero-en{
  padding: 2% 5%;
  padding-bottom: 0px;
  height: calc(100vh - 75px);

  .hero-content {
    padding-top: 2%;
    height: 100%;
    display: flex;

    .hero-content-left {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 60%;
      height: 100%;

      .hero-text {
        display: flex;
        flex-direction: column;

        span {
          font-family: "Sharp Grotesk Medium 25", Arial, sans-serif;
          font-size: 3.4vw;
          line-height: 6vw;
        }
      }

      .hero-line {
        border-bottom: 1px solid black;
        width: 65%;
      }

      a {
        .hero-button {
          margin-top: 2.5%;
          height: 75px;
          width: 300px;
          border-radius: 150px;
          background-color: transparent;
          background-color: var(--darkBlue);
          color: var(--white-background);
          border: 0;
          font-size: 25px;
          font-weight: 600;
          font-family: "Poppins", sans-serif;

          &:hover {
            border: 1px solid var(--darkBlue);
            background-color: transparent;
            color: var(--darkBlue);
          }
        }
      }
    }

    .hero-content-right {
      overflow: hidden;
      position: relative;
      width: 40%;
      height: 100%;
      background-image: url(../../Images/blobanimation.svg);
      background-repeat: no-repeat;
      background-size: 115%;
      background-position: center;

      .avatar {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

}

@media only screen and (max-width: 480px) {
  .hero-en {
    padding: 0;


    .hero-content {
      flex-direction: column;

      .hero-content-left {
        width: 100%;
        height: 30%;

        .hero-text {
          align-items: center;

          span {
            font-size: 6vw;
            line-height: 9vw
          }
        }
        .hero-line {
          display: none;
        }

        a {
          display: none;
        }
      }
      .hero-content-right{
        width: 100%;
        height: 70%;
      }
    }
  }
}