.green-bubble {
    margin: auto;
    min-height: 70px;
    border-radius: 50px;
    width: 90%;
    padding: 3% 0px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    span {
      font-size: 3.1vw;
      line-height: 4vw;
    }
  }

  @media only screen and (max-width: 480px) {

    .green-bubble {
          width: 100%;
          border-radius: 20px;
          padding: 2% 0%;
          span {
                   font-size: 3.6vw  !important; 
                   padding: 1% 0%;
               }
      }
  
  }