.testimonials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 190vh;
  
   
  
    .testimonials-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;

      .testimonial-text {
    
        display: flex;
        flex-direction: column;
    
        span {
          width: 100%;
          text-align: center;
          font-size: 3.2vw;
          line-height: 3vw;
        }
      }
    }
  
  
    .testimonial-line {
      width: 65%;
      border-bottom: 2px solid black;
    }
  }

  @media only  screen  and (max-width:480px){
.testimonials{
  height: 220vh !important;
  .testimonials-bottom{
    justify-content: center;

    .testimonial-text{
      padding: 10% 0;

      span{
        line-height: 5vw !important;
        width: 100% !important;
        text-align: center;
        font-size: 4.3vw !important;
      }
    }
  }
}
  }
    
  