.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  padding: 3% 0;
  .testimonials-carousel{
    width: 100%;

  }
  .testimonials-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-weight: bold;
      font-size: 4.5vh;
      padding: 2% 0;
    }

    span {
      width: 100%;
      text-align: left;
      font-size: 1.3vw;
      line-height: 2.5vw;
    }

  }
}
.checkmark{
  color: rgb(49, 173, 0);
}
@media only screen and (max-width:480px) {
  .testimonials {
    .testimonials-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      

      p {
        font-weight: bold;
        font-size: 4.5vw;
        padding: 5%;
      }

      span {
    
        width: 100%;
        text-align: center;
        font-size: 3vw;
        line-height: 3.5vw;
      }

    }
  }
}