.testimonials-srb{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 30px;
  
    .shadow-xl{
      width: 20%;
      align-items: center;
      justify-content: center;
      .imgContainer{
        width: 100%;
        align-items: center;
        img{
       
        object-fit: contain;
      }
      }
      
    }
   
  
    
  
  
    .testimonial-line {
      width: 65%;
      border-bottom: 2px solid black;
    }
  }

  @media only  screen  and (max-width:480px){
.testimonials{
  height: 220vh !important;
  .testimonials-bottom{
    justify-content: center;

    .testimonial-text{
      padding: 10% 0;

      span{
        line-height: 5vw !important;
        width: 100% !important;
        text-align: center;
        font-size: 4.3vw !important;
      }
    }
  }
}
  }
    
  