.testimonials-srb{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh ;
    
    .carousel-container{
     overflow: hidden;
     width: 90%;

    img{
      object-fit: contain;
      width: 100%;
    }
   }
  
  }

  @media only  screen  and (max-width:480px){
.testimonials-srb{
  height: auto;
  padding: 10% 0;
  .carousel-container{


  }
}
  }
    
  